/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: #383838;

  .modal-content {
    background-color: transparent !important;
    margin: auto;
    height: 100%;

    width: 100%;

    .close-align {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      /* The Close Button */
      .close {
        color: #fff;
        float: right;
        font-size: 48px;
        font-weight: 400;
      }

      .close:hover,
      .close:focus {
        color: #fee;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .swiper-slide {
        /* Center slide text vertically */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .reel-heading {
          .headings {
            color: #fff;
            margin-top: 1rem;
            font-family: $font-1;
            font-weight: 500;
          }
        }
      }
      .swiper-slide img {
        display: block;
        width: 50%;
        height: 60%;
        object-fit: cover;
      }
    }
    .flex {
      display: flex;
      flex-direction: column;
    }
    .swiper-button-next {
      color: #fff;
      font-size: 28px;
    }
    .swiper-button-prev {
      color: #fff;
      font-size: 28px;
    }
    .swiper-pagination {
      color: #fff;
    }
    .swiper-pagination-current {
      color: #fff;
    }
    .swiper-pagination-total {
      color: #fff;
    }
    .swiper-pagination-bullet-active{
      background-color:#fff !important;
    }
  }
}

/* Modal Content */
